Node-Red March10th 2020.json
[{"id":"66a2b465.c8673c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5b5a977a.0145d8","type":"comment","z":"66a2b465.c8673c","name":"Convert ms into hh:mm:ss","info":"","x":730,"y":160,"wires":[]},{"id":"986f7abd.0a54b8","type":"comment","z":"66a2b465.c8673c","name":"Calculate time elapsed (or time remaining)","info":"","x":420,"y":160,"wires":[],"icon":"node-red/parser-html.svg"},{"id":"63330f40.a9d36","type":"uibuilder","z":"66a2b465.c8673c","name":"Game Timer and Clue Display","topic":"","url":"timer_clue_display","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"showfolder":false,"x":1250,"y":300,"wires":[[],[]]},{"id":"f719da18.948ac8","type":"inject","z":"66a2b465.c8673c","name":"Every 1 sec","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"","x":150,"y":200,"wires":[["e5e86652.b367d8","eefb97c1.367978","fbd4a6b.66bf858"]]},{"id":"d8b5d02c.31d2a","type":"comment","z":"66a2b465.c8673c","name":"Trigger","info":"","x":170,"y":160,"wires":[],"icon":"node-red/parser-html.svg"},{"id":"e5e86652.b367d8","type":"function","z":"66a2b465.c8673c","name":"Update Game Timer","func":"var currentTime = msg.payload;\nvar lastTickTime = global.get(\"lastTickTime\") || currentTime;\nvar timeRemaining = global.get(\"timeRemaining\") || 0;\nvar gameState = global.get(\"gameState\");\n\nif(gameState == \"playing\") {\n    timeRemaining -= (currentTime - lastTickTime);\n    global.set(\"timeRemaining\", timeRemaining);\n}\n\nmsg.timeRemaining = timeRemaining;\nglobal.set(\"lastTickTime\", currentTime);\n\nnode.status({fill:\"green\", shape:\"dot\", text:timeRemaining});\n\nreturn msg;","outputs":1,"noerr":0,"x":423,"y":200,"wires":[["303697f2.6b68f8"]]},{"id":"303697f2.6b68f8","type":"function","z":"66a2b465.c8673c","name":"Format Time As HH:MM:SS","func":"// msg.time is in milliseconds\nvar t = msg.timeRemaining / 1000;\nvar h = Math.floor(t / 3600);\nvar m = Math.floor(t % 3600 / 60);\nvar s = Math.floor(t % 3600 % 60);\n\n// Format into hh:mm:ss\nmsg.timerText = (\"0\" + h).slice(-2) + \":\" + (\"0\" + m).slice(-2) + \":\" + (\"0\" + s).slice(-2);\n\n// Update the editor node\nnode.status({fill:\"green\", shape:\"dot\", text:msg.timerText});\n\n// Forward the message along the flow\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":200,"wires":[["bb78cf4c.80fc3","32aec520.d55cea"]]},{"id":"7f8e3393.ca964c","type":"comment","z":"66a2b465.c8673c","name":"Display on ui builder page","info":"","x":1270,"y":260,"wires":[]},{"id":"a1f67d96.3a06b","type":"trigger","z":"66a2b465.c8673c","op1":"","op2":" ","op1type":"pay","op2type":"str","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":530,"y":380,"wires":[["bc9086c6.14bf18"]]},{"id":"bc9086c6.14bf18","type":"change","z":"66a2b465.c8673c","name":"","rules":[{"t":"set","p":"clueText","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":380,"wires":[["bb78cf4c.80fc3"]]},{"id":"bb78cf4c.80fc3","type":"join","z":"66a2b465.c8673c","name":"","mode":"custom","build":"merged","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1030,"y":300,"wires":[["63330f40.a9d36"]]},{"id":"13c65a29.485a96","type":"comment","z":"66a2b465.c8673c","name":"How long to display clue before clearing","info":"","x":550,"y":340,"wires":[]},{"id":"16792f7e.796351","type":"comment","z":"66a2b465.c8673c","name":"Combine time + clue","info":"","x":1030,"y":260,"wires":[]},{"id":"9f3542bd.6a4fd","type":"comment","z":"66a2b465.c8673c","name":"Set msg variable","info":"","x":840,"y":340,"wires":[]},{"id":"8d932b8b.4f7268","type":"comment","z":"66a2b465.c8673c","name":"Select SFX to play when clue displayed","info":"","x":570,"y":500,"wires":[]},{"id":"587a1496.606f8c","type":"comment","z":"66a2b465.c8673c","name":"Send to audio output","info":"","x":870,"y":480,"wires":[]},{"id":"182a8ab3.f2d355","type":"file in","z":"66a2b465.c8673c","name":"","filename":"C:\\Users\\Dylan Rovito\\Desktop\\NodeRed\\audio\\hintSound.mp3","format":"","chunk":false,"sendError":false,"encoding":"none","x":970,"y":820,"wires":[["141d71c2.050e0e"]]},{"id":"141d71c2.050e0e","type":"ui_audio","z":"66a2b465.c8673c","name":"","group":"7724853b.44d39c","voice":"","always":true,"x":1380,"y":820,"wires":[]},{"id":"80cc5268.5e0e1","type":"ui_text_input","z":"66a2b465.c8673c","name":"","label":"Input Custom Hint Here","tooltip":"","group":"22b977e3.a65528","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":170,"y":360,"wires":[["a1f67d96.3a06b","2d135a28.f5b616"]]},{"id":"94e9e9a4.173548","type":"ui_button","z":"66a2b465.c8673c","name":"","group":"22b977e3.a65528","order":1,"width":0,"height":0,"passthru":false,"label":"Please Wait Display","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[HINT IS BEING TYPED]","payloadType":"str","topic":"","x":160,"y":460,"wires":[["2ae6ae31.9961b2"]]},{"id":"2ae6ae31.9961b2","type":"trigger","z":"66a2b465.c8673c","op1":"","op2":" ","op1type":"pay","op2type":"str","duration":"30","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":290,"y":540,"wires":[["bc9086c6.14bf18"]]},{"id":"75ea0404.501cfc","type":"inject","z":"66a2b465.c8673c","name":"Setup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":80,"wires":[["9bd225e7.e11c88"]]},{"id":"9bd225e7.e11c88","type":"change","z":"66a2b465.c8673c","name":"","rules":[{"t":"set","p":"gameState","pt":"global","to":"stopped","tot":"str"},{"t":"set","p":"timeRemaining","pt":"global","to":"30000","tot":"num"},{"t":"set","p":"currentTime","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"gameStart","pt":"global","to":"Stopped","tot":"str"},{"t":"set","p":"gameStarted","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":80,"wires":[["93d5bb2a.d37188"]]},{"id":"271ae1df.3a562e","type":"change","z":"66a2b465.c8673c","name":"","rules":[{"t":"set","p":"gameState","pt":"global","to":"playing","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":920,"wires":[[]]},{"id":"423aa9ce.09f558","type":"change","z":"66a2b465.c8673c","name":"","rules":[{"t":"set","p":"gameState","pt":"global","to":"stopped","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1020,"wires":[[]]},{"id":"cdc9e2c7.9e7","type":"change","z":"66a2b465.c8673c","name":"","rules":[{"t":"set","p":"timeRemaining","pt":"global","to":"30000","tot":"num"},{"t":"set","p":"gameState","pt":"global","to":"stopped","tot":"str"},{"t":"set","p":"gameStart","pt":"global","to":"Stopped","tot":"str"},{"t":"set","p":"puzzle1Solved","pt":"global","to":"Unsolved","tot":"str"},{"t":"set","p":"gameStarted","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1120,"wires":[[]]},{"id":"2ebc788.a35c188","type":"ui_button","z":"66a2b465.c8673c","name":"","group":"1b161435.bb4dac","order":4,"width":0,"height":0,"passthru":false,"label":"Resume Game","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":880,"wires":[["7a8834f.3f1d1cc"]]},{"id":"2f87bc59.e38784","type":"ui_button","z":"66a2b465.c8673c","name":"","group":"1b161435.bb4dac","order":0,"width":0,"height":0,"passthru":false,"label":"Stop Game","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":1000,"wires":[["bcc7f595.6264f8"]]},{"id":"5b6f0036.48f53","type":"ui_button","z":"66a2b465.c8673c","name":"","group":"1b161435.bb4dac","order":1,"width":0,"height":0,"passthru":false,"label":"Reset Game","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":330,"y":1060,"wires":[["cdc9e2c7.9e7","182a8ab3.f2d355","e6b44ae.51209b8","2b08e865.523298","67dab0ca.e24dc","fa35eed8.56de2"]]},{"id":"eefb97c1.367978","type":"change","z":"66a2b465.c8673c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"gameState","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":660,"wires":[["72f60a46.9f8844"]]},{"id":"72f60a46.9f8844","type":"ui_text","z":"66a2b465.c8673c","group":"1b161435.bb4dac","order":3,"width":0,"height":0,"name":"gameStateDisplay","label":"Game State:","format":"{{msg.payload}}","layout":"row-spread","x":1190,"y":660,"wires":[]},{"id":"b2717a3e.c6b3e8","type":"ui_text","z":"66a2b465.c8673c","group":"1b161435.bb4dac","order":4,"width":0,"height":0,"name":"TimeRemainingDisplay","label":"Time Remaining","format":"{{msg.payload}}","layout":"row-spread","x":1200,"y":740,"wires":[]},{"id":"32aec520.d55cea","type":"change","z":"66a2b465.c8673c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"timerText","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":740,"wires":[["b2717a3e.c6b3e8"]]},{"id":"d7be346.5974bc8","type":"mqtt out","z":"66a2b465.c8673c","name":"","topic":"roomrelay","qos":"","retain":"","broker":"c4ca3db5.52347","x":1280,"y":960,"wires":[]},{"id":"362e2263.b4795e","type":"inject","z":"66a2b465.c8673c","name":"Inject \"1\"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":840,"y":960,"wires":[["d7be346.5974bc8"]]},{"id":"600bd0ac.9c63a","type":"ui_button","z":"66a2b465.c8673c","name":"","group":"1b161435.bb4dac","order":5,"width":0,"height":0,"passthru":false,"label":"START GAME","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":100,"y":1180,"wires":[["82ef6ff7.10ecb"]]},{"id":"c5717729.5c8398","type":"change","z":"66a2b465.c8673c","name":"","rules":[{"t":"set","p":"gameState","pt":"global","to":"playing","tot":"str"},{"t":"set","p":"gameStart","pt":"global","to":"active","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1240,"wires":[[]]},{"id":"4897b275.2a9fac","type":"file in","z":"66a2b465.c8673c","name":"","filename":"C:\\Users\\Dylan Rovito\\Desktop\\NodeRed\\audio\\gameStart.wav","format":"","chunk":false,"sendError":false,"encoding":"none","x":790,"y":1340,"wires":[["7f2678b6.019538"]]},{"id":"2d135a28.f5b616","type":"file in","z":"66a2b465.c8673c","name":"","filename":"C:\\Users\\Dylan Rovito\\Desktop\\NodeRed\\audio\\hintSound.mp3","format":"","chunk":false,"sendError":false,"encoding":"none","x":650,"y":540,"wires":[["7f2678b6.019538"]]},{"id":"e1b7f201.753fa","type":"ui_audio","z":"66a2b465.c8673c","name":"","group":"1b161435.bb4dac","voice":"","always":false,"x":1100,"y":540,"wires":[]},{"id":"7f2678b6.019538","type":"switch","z":"66a2b465.c8673c","name":"","property":"gameStart","propertyType":"global","rules":[{"t":"eq","v":"active","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":600,"wires":[["e1b7f201.753fa"]]},{"id":"fa35eed8.56de2","type":"ui_button","z":"66a2b465.c8673c","name":"","group":"f82eac9a.cfb84","order":3,"width":0,"height":0,"passthru":false,"label":"Relay Prep","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":1030,"y":900,"wires":[["d7be346.5974bc8","d8d6eb62.c40528","d9ba9349.67fb5","7eb829d6.10a618"]]},{"id":"bc675dfe.c6a2f","type":"ui_toast","z":"66a2b465.c8673c","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Game Started","name":"game start","x":630,"y":1280,"wires":[]},{"id":"fe35ff75.ae781","type":"ui_toast","z":"66a2b465.c8673c","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Game Stopped","name":"game stop","x":570,"y":980,"wires":[]},{"id":"e6b44ae.51209b8","type":"ui_toast","z":"66a2b465.c8673c","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Game Reset","name":"game reset","x":530,"y":1080,"wires":[]},{"id":"f16e2bbd.813f28","type":"ui_toast","z":"66a2b465.c8673c","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Game Resumed","name":"game resume","x":560,"y":880,"wires":[]},{"id":"fbd4a6b.66bf858","type":"link out","z":"66a2b465.c8673c","name":"Every1Seconds","links":["d505530b.3049d","eea0cd1f.69aeb","59e57e9c.c7065"],"x":255,"y":280,"wires":[]},{"id":"1066e105.c958bf","type":"mqtt out","z":"66a2b465.c8673c","name":"","topic":"fogrelay","qos":"","retain":"","broker":"c4ca3db5.52347","x":1060,"y":1460,"wires":[]},{"id":"734964c7.96740c","type":"change","z":"66a2b465.c8673c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1420,"wires":[["c7491b44.d3f698"]]},{"id":"612525d6.c357fc","type":"change","z":"66a2b465.c8673c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1500,"wires":[["c7491b44.d3f698"]]},{"id":"1c1033f6.73d13c","type":"delay","z":"66a2b465.c8673c","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":1420,"wires":[["734964c7.96740c","c542228.d125de"]]},{"id":"ec25da7d.67b6e8","type":"delay","z":"66a2b465.c8673c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":1520,"wires":[["612525d6.c357fc","fc484f12.0a0cd"]]},{"id":"c7491b44.d3f698","type":"switch","z":"66a2b465.c8673c","name":"","property":"gameState","propertyType":"global","rules":[{"t":"eq","v":"playing","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":910,"y":1460,"wires":[["1066e105.c958bf","213ce95f.0b8dd6"]]},{"id":"f8f3b084.2992e","type":"delay","z":"66a2b465.c8673c","name":"","pauseType":"delay","timeout":"9.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710,"y":1580,"wires":[["aba3222c.cd445","103da666.2acc9a"]]},{"id":"97b1c5bc.346308","type":"mqtt out","z":"66a2b465.c8673c","name":"","topic":"roomrelay","qos":"","retain":"","broker":"c4ca3db5.52347","x":1260,"y":1560,"wires":[]},{"id":"acb4c33a.22dbd","type":"ui_toast","z":"66a2b465.c8673c","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"EMLIGHT","name":"game start","x":1070,"y":1620,"wires":[]},{"id":"5d6333e0.288cec","type":"delay","z":"66a2b465.c8673c","name":"","pauseType":"delay","timeout":"11","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":1680,"wires":[["7e04234b.7079ac"]]},{"id":"a5032bf.cef81d8","type":"mqtt out","z":"66a2b465.c8673c","name":"","topic":"controlpanel","qos":"","retain":"","broker":"c4ca3db5.52347","x":1230,"y":1680,"wires":[]},{"id":"213ce95f.0b8dd6","type":"ui_toast","z":"66a2b465.c8673c","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Fog RELAY","name":"game start","x":1070,"y":1420,"wires":[]},{"id":"917832f.9e2b9d","type":"change","z":"66a2b465.c8673c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":1800,"wires":[["a5032bf.cef81d8"]]},{"id":"92f3aead.d5ff3","type":"ui_toast","z":"66a2b465.c8673c","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Control Panel","name":"game start","x":1230,"y":1640,"wires":[]},{"id":"aba3222c.cd445","type":"switch","z":"66a2b465.c8673c","name":"","property":"gameState","propertyType":"global","rules":[{"t":"eq","v":"playing","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":1580,"wires":[["acb4c33a.22dbd","293563b0.14eb1c"]]},{"id":"fc484f12.0a0cd","type":"switch","z":"66a2b465.c8673c","name":"","property":"gameState","propertyType":"global","rules":[{"t":"eq","v":"playing","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":1580,"wires":[["f8f3b084.2992e"]]},{"id":"103da666.2acc9a","type":"switch","z":"66a2b465.c8673c","name":"","property":"gameState","propertyType":"global","rules":[{"t":"eq","v":"playing","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":1680,"wires":[["5d6333e0.288cec"]]},{"id":"7e04234b.7079ac","type":"switch","z":"66a2b465.c8673c","name":"","property":"gameState","propertyType":"global","rules":[{"t":"eq","v":"playing","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1010,"y":1680,"wires":[["917832f.9e2b9d","92f3aead.d5ff3"]]},{"id":"c542228.d125de","type":"switch","z":"66a2b465.c8673c","name":"","property":"gameState","propertyType":"global","rules":[{"t":"eq","v":"playing","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":1520,"wires":[["ec25da7d.67b6e8"]]},{"id":"293563b0.14eb1c","type":"change","z":"66a2b465.c8673c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1560,"wires":[["97b1c5bc.346308"]]},{"id":"47c8ea67.a88724","type":"mqtt out","z":"66a2b465.c8673c","name":"","topic":"roomrelay","qos":"","retain":"","broker":"c4ca3db5.52347","x":1280,"y":1040,"wires":[]},{"id":"d8d6eb62.c40528","type":"change","z":"66a2b465.c8673c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":1040,"wires":[["47c8ea67.a88724"]]},{"id":"d9ba9349.67fb5","type":"mqtt out","z":"66a2b465.c8673c","name":"","topic":"fogrelay","qos":"","retain":"","broker":"c4ca3db5.52347","x":1280,"y":900,"wires":[]},{"id":"e36a9f6.611a86","type":"delay","z":"66a2b465.c8673c","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":1340,"wires":[["1c1033f6.73d13c","fd3d975b.2b96e8"]]},{"id":"8df3c7a9.ecfcc8","type":"mqtt out","z":"66a2b465.c8673c","name":"","topic":"roomrelay","qos":"","retain":"","broker":"c4ca3db5.52347","x":340,"y":1620,"wires":[]},{"id":"bc949b75.c53428","type":"change","z":"66a2b465.c8673c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":1740,"wires":[["8df3c7a9.ecfcc8"]]},{"id":"7eb829d6.10a618","type":"change","z":"66a2b465.c8673c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":1100,"wires":[["484d8cbf.0a6454"]]},{"id":"484d8cbf.0a6454","type":"mqtt out","z":"66a2b465.c8673c","name":"","topic":"roomrelay","qos":"","retain":"","broker":"c4ca3db5.52347","x":1280,"y":1100,"wires":[]},{"id":"fd3d975b.2b96e8","type":"switch","z":"66a2b465.c8673c","name":"","property":"gameState","propertyType":"global","rules":[{"t":"eq","v":"playing","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":150,"y":1580,"wires":[["bc949b75.c53428"]]},{"id":"f35da206.63288","type":"comment","z":"66a2b465.c8673c","name":"Power Reset Trigger","info":"","x":270,"y":1860,"wires":[]},{"id":"b1fb3475.f2ff58","type":"mqtt in","z":"66a2b465.c8673c","name":"controlOut mqtt IN","topic":"controlOut","qos":"2","datatype":"auto","broker":"c4ca3db5.52347","x":270,"y":1900,"wires":[["87b930a6.77978"]]},{"id":"87b930a6.77978","type":"switch","z":"66a2b465.c8673c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":1900,"wires":[["997c2dc3.55f57","ad438367.eb533","5dc6309f.a7377","8804e273.10dde"]]},{"id":"22d65c5e.9401e4","type":"comment","z":"66a2b465.c8673c","name":"msg.payload must be \"2\" for event to trigger","info":"","x":570,"y":1860,"wires":[]},{"id":"f5f1cbe.3ec6f38","type":"comment","z":"66a2b465.c8673c","name":"inject \"3\" for lights to turn off","info":"","x":300,"y":1780,"wires":[]},{"id":"78621fb6.c0517","type":"comment","z":"66a2b465.c8673c","name":"inject \"2\" to turn on EMLight","info":"","x":1120,"y":1520,"wires":[]},{"id":"997c2dc3.55f57","type":"change","z":"66a2b465.c8673c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1900,"wires":[["e5ee51fe.2dcca"]]},{"id":"e5ee51fe.2dcca","type":"mqtt out","z":"66a2b465.c8673c","name":"","topic":"roomrelay","qos":"","retain":"","broker":"c4ca3db5.52347","x":820,"y":1900,"wires":[]},{"id":"55644d2f.4b7e74","type":"comment","z":"66a2b465.c8673c","name":"turn off em lights","info":"","x":840,"y":1860,"wires":[]},{"id":"5dc6309f.a7377","type":"delay","z":"66a2b465.c8673c","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":2020,"wires":[["fc4ee68b.7e12f8"]]},{"id":"d79f9d3d.3c76f","type":"ui_button","z":"66a2b465.c8673c","name":"","group":"f658311c.aced9","order":0,"width":0,"height":0,"passthru":false,"label":"[SOLVE] Power Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"str","topic":"","x":160,"y":1960,"wires":[["3eefa123.cd286e"]]},{"id":"1258820e.9502be","type":"ui_toast","z":"66a2b465.c8673c","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Power Reset Puzzle","name":"Notification","x":950,"y":1960,"wires":[]},{"id":"ad438367.eb533","type":"change","z":"66a2b465.c8673c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"HAS BEEN SOLVED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1960,"wires":[["1258820e.9502be"]]},{"id":"4199ff17.6ee7","type":"mqtt out","z":"66a2b465.c8673c","name":"","topic":"roomrelay","qos":"","retain":"","broker":"c4ca3db5.52347","x":1120,"y":2020,"wires":[]},{"id":"fc4ee68b.7e12f8","type":"change","z":"66a2b465.c8673c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":2020,"wires":[["4199ff17.6ee7","f2c6e5f4.df5878"]]},{"id":"573da85a.67ce78","type":"comment","z":"66a2b465.c8673c","name":"Turn off electromagnet by Turning On Relay","info":"","x":1210,"y":1980,"wires":[]},{"id":"83d6acf5.c4729","type":"comment","z":"66a2b465.c8673c","name":"inject 6 to release magnet","info":"","x":930,"y":2060,"wires":[]},{"id":"e01d7e0a.a56c4","type":"ui_toast","z":"66a2b465.c8673c","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Electromagnet","name":"Notification","x":1370,"y":2080,"wires":[]},{"id":"f2c6e5f4.df5878","type":"change","z":"66a2b465.c8673c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Has been Released","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":2080,"wires":[["e01d7e0a.a56c4"]]},{"id":"c75b7952.bd9478","type":"ui_text","z":"66a2b465.c8673c","group":"f658311c.aced9","order":1,"width":0,"height":0,"name":"","label":"Power Reset PUZZLE STATE:","format":"{{msg.payload}}","layout":"row-spread","x":1250,"y":80,"wires":[]},{"id":"93d5bb2a.d37188","type":"change","z":"66a2b465.c8673c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Unsolved","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":80,"wires":[["c75b7952.bd9478"]]},{"id":"119cce99.4836b1","type":"change","z":"66a2b465.c8673c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"puzzle1Solved","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":160,"wires":[["c75b7952.bd9478"]]},{"id":"eea0cd1f.69aeb","type":"link in","z":"66a2b465.c8673c","name":"Every1Second","links":["fbd4a6b.66bf858"],"x":55,"y":2160,"wires":[["83ffe112.29a5c"]]},{"id":"83ffe112.29a5c","type":"switch","z":"66a2b465.c8673c","name":"","property":"timeRemaining","propertyType":"global","rules":[{"t":"lt","v":"1000","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":170,"y":2160,"wires":[["4c4dabb3.3c5814"]]},{"id":"d618fd6e.da1f8","type":"change","z":"66a2b465.c8673c","name":"","rules":[{"t":"set","p":"gameState","pt":"global","to":"Ending","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":2160,"wires":[["3f8258c.3ed27a8","9b9d21d9.2a1fe"]]},{"id":"2b08e865.523298","type":"link out","z":"66a2b465.c8673c","name":"OnGameReset","links":[],"x":455,"y":1160,"wires":[]},{"id":"67dab0ca.e24dc","type":"delay","z":"66a2b465.c8673c","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":660,"wires":[["119cce99.4836b1"]]},{"id":"8804e273.10dde","type":"change","z":"66a2b465.c8673c","name":"","rules":[{"t":"set","p":"puzzle1Solved","pt":"global","to":"Solved","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":1140,"wires":[["119cce99.4836b1"]]},{"id":"767535be.39798c","type":"mqtt out","z":"66a2b465.c8673c","name":"","topic":"roomrelay","qos":"","retain":"","broker":"c4ca3db5.52347","x":1100,"y":2160,"wires":[]},{"id":"ed3a6a67.d1af18","type":"change","z":"66a2b465.c8673c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":2160,"wires":[["767535be.39798c"]]},{"id":"8ad0eaf9.104228","type":"comment","z":"66a2b465.c8673c","name":"EMLight Off","info":"","x":910,"y":2200,"wires":[]},{"id":"3f8258c.3ed27a8","type":"ui_toast","z":"66a2b465.c8673c","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"GAME ENDING","name":"Notification","x":730,"y":2220,"wires":[]},{"id":"28847356.3aca6c","type":"comment","z":"66a2b465.c8673c","name":"On Game End","info":"","x":330,"y":2120,"wires":[]},{"id":"9ef62247.8701a","type":"ui_button","z":"66a2b465.c8673c","name":"","group":"f82eac9a.cfb84","order":1,"width":0,"height":0,"passthru":false,"label":"Start Game Ending","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":2200,"wires":[["4c4dabb3.3c5814"]]},{"id":"4c4dabb3.3c5814","type":"switch","z":"66a2b465.c8673c","name":"","property":"gameState","propertyType":"global","rules":[{"t":"eq","v":"playing","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":2160,"wires":[["d618fd6e.da1f8"]]},{"id":"cb03ea2d.2a74c8","type":"mqtt in","z":"66a2b465.c8673c","name":"controlOut mqtt IN","topic":"doorOut","qos":"2","datatype":"auto","broker":"c4ca3db5.52347","x":130,"y":2300,"wires":[["1bf905f4.c1edda"]]},{"id":"1bf905f4.c1edda","type":"switch","z":"66a2b465.c8673c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":2300,"wires":[["b949070d.be6468","b27cec94.aa428"],["efec5e8.dded0a","6ed7c57.55f013c"]]},{"id":"6d1300c2.80533","type":"ui_text","z":"66a2b465.c8673c","group":"1b161435.bb4dac","order":7,"width":0,"height":0,"name":"","label":"DOOR STATUS:","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":2300,"wires":[]},{"id":"efec5e8.dded0a","type":"change","z":"66a2b465.c8673c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":2340,"wires":[["6d1300c2.80533"]]},{"id":"b949070d.be6468","type":"change","z":"66a2b465.c8673c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Closed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":2280,"wires":[["6d1300c2.80533"]]},{"id":"6ed7c57.55f013c","type":"change","z":"66a2b465.c8673c","name":"","rules":[{"t":"set","p":"gameState","pt":"global","to":"stopped","tot":"str"},{"t":"set","p":"gameReady","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":2400,"wires":[[]]},{"id":"b27cec94.aa428","type":"change","z":"66a2b465.c8673c","name":"","rules":[{"t":"set","p":"gameReady","pt":"global","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":2220,"wires":[[]]},{"id":"b230ec64.1c738","type":"switch","z":"66a2b465.c8673c","name":"","property":"gameReady","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":1240,"wires":[["c5717729.5c8398","bc675dfe.c6a2f","e36a9f6.611a86"],["3deb6935.c9d5a6"]]},{"id":"3deb6935.c9d5a6","type":"ui_toast","z":"66a2b465.c8673c","position":"top right","displayTime":"2","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"[Door Open] Can't Start Game","name":"","x":100,"y":1280,"wires":[]},{"id":"7a8834f.3f1d1cc","type":"switch","z":"66a2b465.c8673c","name":"","property":"gameReady","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":880,"wires":[["729200c3.6a401"],["d803bd81.a63dd"]]},{"id":"d803bd81.a63dd","type":"ui_toast","z":"66a2b465.c8673c","position":"top right","displayTime":"2","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"[Door Open] Can't Start Game","name":"","x":150,"y":940,"wires":[]},{"id":"bcc7f595.6264f8","type":"switch","z":"66a2b465.c8673c","name":"","property":"gameState","propertyType":"global","rules":[{"t":"eq","v":"playing","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":1000,"wires":[["fe35ff75.ae781","423aa9ce.09f558"]]},{"id":"729200c3.6a401","type":"switch","z":"66a2b465.c8673c","name":"","property":"gameState","propertyType":"global","rules":[{"t":"eq","v":"stopped","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":820,"wires":[["f16e2bbd.813f28","271ae1df.3a562e"]]},{"id":"3eefa123.cd286e","type":"switch","z":"66a2b465.c8673c","name":"","property":"gameState","propertyType":"global","rules":[{"t":"eq","v":"playing","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":1960,"wires":[["87b930a6.77978"]]},{"id":"82ef6ff7.10ecb","type":"switch","z":"66a2b465.c8673c","name":"","property":"gameStarted","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":1180,"wires":[["4e0d31f4.b40b3"],["2a4741a4.ff243e"]]},{"id":"2a4741a4.ff243e","type":"change","z":"66a2b465.c8673c","name":"","rules":[{"t":"set","p":"gameStarted","pt":"global","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1180,"wires":[["b230ec64.1c738"]]},{"id":"62ba14e0.abdebc","type":"ui_toast","z":"66a2b465.c8673c","position":"top right","displayTime":"2","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"[GAME ALREADY STARTED] ","name":"","x":450,"y":1320,"wires":[]},{"id":"4e0d31f4.b40b3","type":"change","z":"66a2b465.c8673c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"please use resume instead","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1260,"wires":[["62ba14e0.abdebc"]]},{"id":"7319809f.37887","type":"inject","z":"66a2b465.c8673c","name":"","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2380,"wires":[["1bf905f4.c1edda"]]},{"id":"be762bbb.7b6508","type":"inject","z":"66a2b465.c8673c","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2520,"wires":[["1bf905f4.c1edda"]]},{"id":"d0663965.6add88","type":"comment","z":"66a2b465.c8673c","name":"Door Open","info":"","x":120,"y":2480,"wires":[]},{"id":"9f08ec5.886a71","type":"comment","z":"66a2b465.c8673c","name":"Door Closed","info":"","x":130,"y":2420,"wires":[]},{"id":"9b9d21d9.2a1fe","type":"delay","z":"66a2b465.c8673c","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":730,"y":2160,"wires":[["ed3a6a67.d1af18"]]},{"id":"7724853b.44d39c","type":"ui_group","z":"","name":"Audio","tab":"af38a1b7.79d55","order":2,"disp":true,"width":"6","collapse":false},{"id":"22b977e3.a65528","type":"ui_group","z":"","name":"Hint System","tab":"af38a1b7.79d55","disp":true,"width":"6","collapse":true},{"id":"1b161435.bb4dac","type":"ui_group","z":"","name":"Game State","tab":"af38a1b7.79d55","disp":true,"width":"6","collapse":false},{"id":"c4ca3db5.52347","type":"mqtt-broker","z":"","name":"","broker":"192.168.86.27","port":"1883","clientid":"Node-Red","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f82eac9a.cfb84","type":"ui_group","z":"","name":"Rare Triggers","tab":"af38a1b7.79d55","disp":true,"width":"6","collapse":true},{"id":"f658311c.aced9","type":"ui_group","z":"","name":"Puzzles","tab":"af38a1b7.79d55","disp":true,"width":"6","collapse":true},{"id":"af38a1b7.79d55","type":"ui_tab","z":"","name":"Escape Room Control Panel","icon":"dashboard","disabled":false,"hidden":false}]