NodeRedAugust8th2020.json
[{"id":"522d8f96.2aacb","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"5c52c831.457438","type":"comment","z":"522d8f96.2aacb","name":"Convert ms into hh:mm:ss","info":"","x":730,"y":160,"wires":[]},{"id":"358b7478.b2de7c","type":"comment","z":"522d8f96.2aacb","name":"Calculate time elapsed (or time remaining)","info":"","x":420,"y":160,"wires":[],"icon":"node-red/parser-html.svg"},{"id":"1dbad8e9.a8e5b7","type":"uibuilder","z":"522d8f96.2aacb","name":"Game Timer and Clue Display","topic":"","url":"timer_clue_display","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"showfolder":false,"x":1250,"y":300,"wires":[[],[]]},{"id":"af20270e.741ee8","type":"inject","z":"522d8f96.2aacb","name":"Every 1 sec","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"","x":150,"y":200,"wires":[["b00482e6.350de","d04189e1.dffd98","b26b0aa4.277a48"]]},{"id":"6dd64dbf.2c0024","type":"comment","z":"522d8f96.2aacb","name":"Trigger","info":"","x":170,"y":160,"wires":[],"icon":"node-red/parser-html.svg"},{"id":"b00482e6.350de","type":"function","z":"522d8f96.2aacb","name":"Update Game Timer","func":"var currentTime = msg.payload;\nvar lastTickTime = global.get(\"lastTickTime\") || currentTime;\nvar timeRemaining = global.get(\"timeRemaining\") || 0;\nvar gameState = global.get(\"gameState\");\n\nif(gameState == \"playing\") {\n    timeRemaining -= (currentTime - lastTickTime);\n    global.set(\"timeRemaining\", timeRemaining);\n}\n\nmsg.timeRemaining = timeRemaining;\nglobal.set(\"lastTickTime\", currentTime);\n\nnode.status({fill:\"green\", shape:\"dot\", text:timeRemaining});\n\nreturn msg;","outputs":1,"noerr":0,"x":423,"y":200,"wires":[["fcdb7442.16d038"]]},{"id":"fcdb7442.16d038","type":"function","z":"522d8f96.2aacb","name":"Format Time As HH:MM:SS","func":"// msg.time is in milliseconds\nvar t = msg.timeRemaining / 1000;\nvar h = Math.floor(t / 3600);\nvar m = Math.floor(t % 3600 / 60);\nvar s = Math.floor(t % 3600 % 60);\n\n// Format into hh:mm:ss\nmsg.timerText = (\"0\" + h).slice(-2) + \":\" + (\"0\" + m).slice(-2) + \":\" + (\"0\" + s).slice(-2);\n\n// Update the editor node\nnode.status({fill:\"green\", shape:\"dot\", text:msg.timerText});\n\n// Forward the message along the flow\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":200,"wires":[["219de7b3.581b28","802a8c97.44362"]]},{"id":"e2e19f5c.99bdb","type":"comment","z":"522d8f96.2aacb","name":"Display on ui builder page","info":"","x":1270,"y":260,"wires":[]},{"id":"b933434e.5a1ba","type":"trigger","z":"522d8f96.2aacb","op1":"","op2":" ","op1type":"pay","op2type":"str","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":530,"y":400,"wires":[["41920435.4059bc"]]},{"id":"41920435.4059bc","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"clueText","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":380,"wires":[["219de7b3.581b28"]]},{"id":"219de7b3.581b28","type":"join","z":"522d8f96.2aacb","name":"","mode":"custom","build":"merged","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1030,"y":300,"wires":[["1dbad8e9.a8e5b7"]]},{"id":"45aae44c.04c49c","type":"comment","z":"522d8f96.2aacb","name":"How long to display clue before clearing","info":"","x":550,"y":340,"wires":[]},{"id":"446fac1.df4f654","type":"comment","z":"522d8f96.2aacb","name":"Combine time + clue","info":"","x":1030,"y":260,"wires":[]},{"id":"3fd1c2fd.3c273e","type":"comment","z":"522d8f96.2aacb","name":"Set msg variable","info":"","x":840,"y":340,"wires":[]},{"id":"2e0cd42c.09d6cc","type":"comment","z":"522d8f96.2aacb","name":"Select SFX to play when clue displayed","info":"","x":570,"y":500,"wires":[]},{"id":"abc24574.92f438","type":"comment","z":"522d8f96.2aacb","name":"Send to audio output","info":"","x":870,"y":480,"wires":[]},{"id":"31f550e.9feddb","type":"file in","z":"522d8f96.2aacb","name":"","filename":"C:\\Users\\Dylan Rovito\\Desktop\\NodeRed\\audio\\hintSound.mp3","format":"","chunk":false,"sendError":false,"encoding":"none","x":970,"y":820,"wires":[["e0513691.3893c8"]]},{"id":"e0513691.3893c8","type":"ui_audio","z":"522d8f96.2aacb","name":"","group":"7724853b.44d39c","voice":"","always":true,"x":1380,"y":820,"wires":[]},{"id":"f3b18022.0b72c","type":"ui_text_input","z":"522d8f96.2aacb","name":"","label":"Input Custom Hint Here","tooltip":"","group":"22b977e3.a65528","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":170,"y":360,"wires":[["b933434e.5a1ba","fb2bd806.80b568"]]},{"id":"770a30ca.5e153","type":"ui_button","z":"522d8f96.2aacb","name":"","group":"22b977e3.a65528","order":1,"width":0,"height":0,"passthru":false,"label":"Please Wait Display","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[HINT IS BEING TYPED]","payloadType":"str","topic":"","x":160,"y":460,"wires":[["15fe4323.7564cd"]]},{"id":"15fe4323.7564cd","type":"trigger","z":"522d8f96.2aacb","op1":"","op2":" ","op1type":"pay","op2type":"str","duration":"30","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":290,"y":540,"wires":[["41920435.4059bc"]]},{"id":"854591cf.de612","type":"inject","z":"522d8f96.2aacb","name":"Setup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":80,"wires":[["82962e24.d8d33"]]},{"id":"82962e24.d8d33","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"gameState","pt":"global","to":"stopped","tot":"str"},{"t":"set","p":"timeRemaining","pt":"global","to":"1800000","tot":"num"},{"t":"set","p":"currentTime","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"gameStart","pt":"global","to":"Stopped","tot":"str"},{"t":"set","p":"gameStarted","pt":"global","to":"0","tot":"num"},{"t":"set","p":"PuzzleSolved","pt":"global","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":80,"wires":[["e818e94a.0d0bf8"]]},{"id":"4bfb5699.05da18","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"gameState","pt":"global","to":"playing","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":920,"wires":[[]]},{"id":"a4072edb.305e5","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"gameState","pt":"global","to":"stopped","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1020,"wires":[[]]},{"id":"44b8d757.44f8a8","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"timeRemaining","pt":"global","to":"1800000","tot":"num"},{"t":"set","p":"gameState","pt":"global","to":"stopped","tot":"str"},{"t":"set","p":"gameStart","pt":"global","to":"Stopped","tot":"str"},{"t":"set","p":"puzzle1Solved","pt":"global","to":"Unsolved","tot":"str"},{"t":"set","p":"gameStarted","pt":"global","to":"0","tot":"num"},{"t":"set","p":"PuzzleSolved","pt":"global","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1120,"wires":[[]]},{"id":"22be8984.df41f6","type":"ui_button","z":"522d8f96.2aacb","name":"","group":"1b161435.bb4dac","order":4,"width":0,"height":0,"passthru":false,"label":"Resume Game","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":880,"wires":[["b32947c9.3dc158"]]},{"id":"724f5229.20308c","type":"ui_button","z":"522d8f96.2aacb","name":"","group":"1b161435.bb4dac","order":0,"width":0,"height":0,"passthru":false,"label":"Stop Game","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":1000,"wires":[["43aec0ba.0b6d7"]]},{"id":"52d6d404.fb78bc","type":"ui_button","z":"522d8f96.2aacb","name":"","group":"1b161435.bb4dac","order":1,"width":0,"height":0,"passthru":false,"label":"Reset Game","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":1080,"wires":[["44b8d757.44f8a8","31f550e.9feddb","e5582a4a.c9e168","92f77ee5.f06d5","4897bc16.a935a4","99467894.43bfe8","1c738ad.1709f75"]]},{"id":"d04189e1.dffd98","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"gameState","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":660,"wires":[["3164b368.b5fb3c"]]},{"id":"3164b368.b5fb3c","type":"ui_text","z":"522d8f96.2aacb","group":"1b161435.bb4dac","order":3,"width":0,"height":0,"name":"gameStateDisplay","label":"Game State:","format":"{{msg.payload}}","layout":"row-spread","x":1190,"y":660,"wires":[]},{"id":"fa2c6a36.1813e8","type":"ui_text","z":"522d8f96.2aacb","group":"1b161435.bb4dac","order":4,"width":0,"height":0,"name":"TimeRemainingDisplay","label":"Time Remaining","format":"{{msg.payload}}","layout":"row-spread","x":1200,"y":740,"wires":[]},{"id":"802a8c97.44362","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"timerText","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":740,"wires":[["fa2c6a36.1813e8"]]},{"id":"3d34fa8f.270d16","type":"mqtt out","z":"522d8f96.2aacb","name":"","topic":"roomrelay","qos":"","retain":"","broker":"c4ca3db5.52347","x":1280,"y":960,"wires":[]},{"id":"eeb640a7.621a3","type":"inject","z":"522d8f96.2aacb","name":"Inject \"1\"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":840,"y":960,"wires":[["3d34fa8f.270d16"]]},{"id":"d72ca609.85bf08","type":"ui_button","z":"522d8f96.2aacb","name":"","group":"1b161435.bb4dac","order":5,"width":0,"height":0,"passthru":false,"label":"START GAME","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":80,"y":1180,"wires":[["c9641d61.83bae"]]},{"id":"5797e6dc.c2a128","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"gameState","pt":"global","to":"playing","tot":"str"},{"t":"set","p":"gameStart","pt":"global","to":"active","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1240,"wires":[[]]},{"id":"fb2bd806.80b568","type":"file in","z":"522d8f96.2aacb","name":"","filename":"C:\\Users\\Dylan Rovito\\Desktop\\NodeRed\\audio\\hintSound.mp3","format":"","chunk":false,"sendError":false,"encoding":"none","x":650,"y":540,"wires":[["66deb3e3.bf15bc"]]},{"id":"b6762009.9a171","type":"ui_audio","z":"522d8f96.2aacb","name":"","group":"1b161435.bb4dac","voice":"","always":false,"x":1100,"y":540,"wires":[]},{"id":"66deb3e3.bf15bc","type":"switch","z":"522d8f96.2aacb","name":"","property":"gameStart","propertyType":"global","rules":[{"t":"eq","v":"active","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":600,"wires":[["b6762009.9a171"]]},{"id":"99467894.43bfe8","type":"ui_button","z":"522d8f96.2aacb","name":"","group":"f82eac9a.cfb84","order":3,"width":0,"height":0,"passthru":false,"label":"Relay Prep","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":1030,"y":900,"wires":[["3d34fa8f.270d16","4053ec72.8ad724","bad19378.72a26","84f6168c.7b3998","9337eb56.273438","3caf7026.bfe38","af66c994.e892c8"]]},{"id":"e242243b.d2df18","type":"ui_toast","z":"522d8f96.2aacb","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Game Started","name":"game start","x":870,"y":1200,"wires":[]},{"id":"224df2b3.70d94e","type":"ui_toast","z":"522d8f96.2aacb","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Game Stopped","name":"game stop","x":570,"y":980,"wires":[]},{"id":"e5582a4a.c9e168","type":"ui_toast","z":"522d8f96.2aacb","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Game Reset","name":"game reset","x":530,"y":1080,"wires":[]},{"id":"6dfa384.8d51ec8","type":"ui_toast","z":"522d8f96.2aacb","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Game Resumed","name":"game resume","x":560,"y":880,"wires":[]},{"id":"b26b0aa4.277a48","type":"link out","z":"522d8f96.2aacb","name":"Every1Seconds","links":["d505530b.3049d","4bfc1247.0b89ec","59e57e9c.c7065","9f8ada7c.eed408"],"x":255,"y":280,"wires":[]},{"id":"504cedca.9ff044","type":"mqtt out","z":"522d8f96.2aacb","name":"","topic":"fogrelay","qos":"","retain":"","broker":"c4ca3db5.52347","x":1060,"y":1460,"wires":[]},{"id":"ad813c9f.9fd4a","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1420,"wires":[["504cedca.9ff044","18888848.5920d8"]]},{"id":"ae105aa8.0dda18","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1500,"wires":[["504cedca.9ff044","18888848.5920d8"]]},{"id":"db2405b1.8fa0c8","type":"delay","z":"522d8f96.2aacb","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":1420,"wires":[["b975379c.0acbe8","cb1030cf.8c1cf"]]},{"id":"1d649cd1.848e33","type":"delay","z":"522d8f96.2aacb","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":1520,"wires":[["ae105aa8.0dda18","453f8021.3e627"]]},{"id":"21cb3893.a81b98","type":"delay","z":"522d8f96.2aacb","name":"","pauseType":"delay","timeout":"9.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710,"y":1580,"wires":[["2ee1e370.01c08c"]]},{"id":"b67203c5.2e727","type":"mqtt out","z":"522d8f96.2aacb","name":"","topic":"roomrelay","qos":"","retain":"","broker":"c4ca3db5.52347","x":1260,"y":1560,"wires":[]},{"id":"b205d84b.c74bf8","type":"ui_toast","z":"522d8f96.2aacb","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"EMLIGHT","name":"game start","x":1070,"y":1620,"wires":[]},{"id":"18888848.5920d8","type":"ui_toast","z":"522d8f96.2aacb","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Fog RELAY","name":"game start","x":1070,"y":1420,"wires":[]},{"id":"2ee1e370.01c08c","type":"switch","z":"522d8f96.2aacb","name":"","property":"gameState","propertyType":"global","rules":[{"t":"eq","v":"playing","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":1580,"wires":[["b205d84b.c74bf8","3e228035.b8e51","2e45053b.47aa5a"]]},{"id":"453f8021.3e627","type":"switch","z":"522d8f96.2aacb","name":"","property":"gameState","propertyType":"global","rules":[{"t":"eq","v":"playing","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":1580,"wires":[["21cb3893.a81b98"]]},{"id":"b975379c.0acbe8","type":"switch","z":"522d8f96.2aacb","name":"","property":"gameState","propertyType":"global","rules":[{"t":"eq","v":"playing","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":1520,"wires":[["1d649cd1.848e33"]]},{"id":"3e228035.b8e51","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1560,"wires":[["b67203c5.2e727"]]},{"id":"4694c584.3fce4c","type":"mqtt out","z":"522d8f96.2aacb","name":"","topic":"roomrelay","qos":"","retain":"","broker":"c4ca3db5.52347","x":1280,"y":1040,"wires":[]},{"id":"4053ec72.8ad724","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":1040,"wires":[["4694c584.3fce4c"]]},{"id":"bad19378.72a26","type":"mqtt out","z":"522d8f96.2aacb","name":"","topic":"fogrelay","qos":"","retain":"","broker":"c4ca3db5.52347","x":1280,"y":900,"wires":[]},{"id":"ea985e9.48658a","type":"delay","z":"522d8f96.2aacb","name":"","pauseType":"delay","timeout":"36","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":220,"y":1400,"wires":[["db2405b1.8fa0c8","d9181f80.4b71b"]]},{"id":"84f6168c.7b3998","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":1100,"wires":[["9dfc4147.e5069"]]},{"id":"9dfc4147.e5069","type":"mqtt out","z":"522d8f96.2aacb","name":"","topic":"roomrelay","qos":"","retain":"","broker":"c4ca3db5.52347","x":1280,"y":1100,"wires":[]},{"id":"d9181f80.4b71b","type":"switch","z":"522d8f96.2aacb","name":"","property":"gameState","propertyType":"global","rules":[{"t":"eq","v":"playing","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":150,"y":1580,"wires":[["59a2ef9d.d2b6b"]]},{"id":"447a5a01.f7d2a4","type":"comment","z":"522d8f96.2aacb","name":"Power Reset Trigger","info":"","x":150,"y":1860,"wires":[]},{"id":"b8032a4b.0a3fa8","type":"mqtt in","z":"522d8f96.2aacb","name":"controlOut mqtt IN","topic":"controlOut","qos":"2","datatype":"auto","broker":"c4ca3db5.52347","x":110,"y":1900,"wires":[["65adcafb.677364"]]},{"id":"afc5faa7.ca23f8","type":"switch","z":"522d8f96.2aacb","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":1900,"wires":[["acd7e2ba.74caf","be801ade.00e108","79107eb9.6e8ee","83b96fdb.e64f"]]},{"id":"412af8ae.971c18","type":"comment","z":"522d8f96.2aacb","name":"msg.payload must be \"2\" for event to trigger","info":"","x":570,"y":1860,"wires":[]},{"id":"32162d62.a9cf82","type":"comment","z":"522d8f96.2aacb","name":"inject \"2\" to turn on EMLight","info":"","x":1120,"y":1520,"wires":[]},{"id":"acd7e2ba.74caf","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1900,"wires":[["2665bb72.221204","9091d875.958568"]]},{"id":"2665bb72.221204","type":"mqtt out","z":"522d8f96.2aacb","name":"","topic":"roomrelay","qos":"","retain":"","broker":"c4ca3db5.52347","x":960,"y":1900,"wires":[]},{"id":"4869e786.6f8c48","type":"comment","z":"522d8f96.2aacb","name":"turn off em lights","info":"","x":980,"y":1860,"wires":[]},{"id":"83b96fdb.e64f","type":"delay","z":"522d8f96.2aacb","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":2020,"wires":[["64b8a818.48ce48"]]},{"id":"a7109ad9.d9ddf8","type":"ui_button","z":"522d8f96.2aacb","name":"","group":"f658311c.aced9","order":0,"width":0,"height":0,"passthru":false,"label":"[SOLVE] Power Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"str","topic":"","x":120,"y":1960,"wires":[["29faef0f.a1f26"]]},{"id":"774f58a8.563058","type":"ui_toast","z":"522d8f96.2aacb","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Power Reset Puzzle","name":"Notification","x":970,"y":1960,"wires":[]},{"id":"be801ade.00e108","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"HAS BEEN SOLVED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1960,"wires":[["774f58a8.563058","41c8878.c094e78"]]},{"id":"d1ee4630.70d2b8","type":"mqtt out","z":"522d8f96.2aacb","name":"","topic":"roomrelay","qos":"","retain":"","broker":"c4ca3db5.52347","x":1120,"y":2000,"wires":[]},{"id":"64b8a818.48ce48","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":2020,"wires":[["d1ee4630.70d2b8","57d487a.5aee678"]]},{"id":"300be70b.8a9b48","type":"comment","z":"522d8f96.2aacb","name":"Turn off electromagnet by Turning On Relay","info":"","x":1210,"y":1960,"wires":[]},{"id":"e7bb1b66.294138","type":"comment","z":"522d8f96.2aacb","name":"inject 6 to release magnet","info":"","x":930,"y":2060,"wires":[]},{"id":"de767a13.af64b8","type":"ui_toast","z":"522d8f96.2aacb","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Electromagnet","name":"Notification","x":1370,"y":2080,"wires":[]},{"id":"57d487a.5aee678","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Has been Released","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":2080,"wires":[["de767a13.af64b8"]]},{"id":"499f1525.def67c","type":"ui_text","z":"522d8f96.2aacb","group":"f658311c.aced9","order":1,"width":0,"height":0,"name":"","label":"Power Reset PUZZLE STATE:","format":"{{msg.payload}}","layout":"row-spread","x":1250,"y":80,"wires":[]},{"id":"e818e94a.0d0bf8","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Unsolved","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":80,"wires":[["499f1525.def67c"]]},{"id":"80cf0c43.10729","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"puzzle1Solved","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":160,"wires":[["499f1525.def67c"]]},{"id":"4bfc1247.0b89ec","type":"link in","z":"522d8f96.2aacb","name":"Every1Second","links":["b26b0aa4.277a48"],"x":55,"y":2160,"wires":[["30aeb9f8.0ad636"]]},{"id":"30aeb9f8.0ad636","type":"switch","z":"522d8f96.2aacb","name":"","property":"timeRemaining","propertyType":"global","rules":[{"t":"lt","v":"1000","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":170,"y":2160,"wires":[["c87ed11f.35e3b"]]},{"id":"d0980557.c48e78","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"gameState","pt":"global","to":"Ending","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":2160,"wires":[["d2f29e92.a7e1a","da4f0418.289c48"]]},{"id":"92f77ee5.f06d5","type":"link out","z":"522d8f96.2aacb","name":"OnGameReset","links":[],"x":455,"y":1160,"wires":[]},{"id":"4897bc16.a935a4","type":"delay","z":"522d8f96.2aacb","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":680,"wires":[["80cf0c43.10729"]]},{"id":"79107eb9.6e8ee","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"puzzle1Solved","pt":"global","to":"Solved","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":1140,"wires":[["80cf0c43.10729"]]},{"id":"1b1c84d.810267b","type":"mqtt out","z":"522d8f96.2aacb","name":"","topic":"roomrelay","qos":"","retain":"","broker":"c4ca3db5.52347","x":1100,"y":2160,"wires":[]},{"id":"e3cdcf36.f4bd5","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":2160,"wires":[["1b1c84d.810267b"]]},{"id":"7886cf36.7cebc","type":"comment","z":"522d8f96.2aacb","name":"EMLight Off","info":"","x":910,"y":2200,"wires":[]},{"id":"ccaa46af.f56bd8","type":"ui_toast","z":"522d8f96.2aacb","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"GAME ENDING","name":"Notification","x":710,"y":2220,"wires":[]},{"id":"c0e846e9.c84258","type":"comment","z":"522d8f96.2aacb","name":"On Game End","info":"","x":330,"y":2120,"wires":[]},{"id":"87e98517.cf1cf8","type":"ui_button","z":"522d8f96.2aacb","name":"","group":"f82eac9a.cfb84","order":1,"width":0,"height":0,"passthru":false,"label":"Start Game Ending","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":2200,"wires":[["c87ed11f.35e3b"]]},{"id":"c87ed11f.35e3b","type":"switch","z":"522d8f96.2aacb","name":"","property":"gameState","propertyType":"global","rules":[{"t":"eq","v":"playing","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":2160,"wires":[["d0980557.c48e78"]]},{"id":"a71da7d1.6e8a98","type":"mqtt in","z":"522d8f96.2aacb","name":"controlOut mqtt IN","topic":"doorOut","qos":"2","datatype":"auto","broker":"c4ca3db5.52347","x":110,"y":2500,"wires":[["f82d452e.a3dba8"]]},{"id":"f82d452e.a3dba8","type":"switch","z":"522d8f96.2aacb","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":2500,"wires":[["ffdf2275.89836","edfa53f5.2bdb3"],["74be127a.f862ac","e8a990c7.a920f"]]},{"id":"b1a5e3dd.78b72","type":"ui_text","z":"522d8f96.2aacb","group":"1b161435.bb4dac","order":7,"width":0,"height":0,"name":"","label":"DOOR STATUS:","format":"{{msg.payload}}","layout":"row-spread","x":660,"y":2500,"wires":[]},{"id":"74be127a.f862ac","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":2540,"wires":[["b1a5e3dd.78b72"]]},{"id":"ffdf2275.89836","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Closed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":2480,"wires":[["b1a5e3dd.78b72"]]},{"id":"e8a990c7.a920f","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"gameState","pt":"global","to":"stopped","tot":"str"},{"t":"set","p":"gameReady","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":2600,"wires":[[]]},{"id":"edfa53f5.2bdb3","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"gameReady","pt":"global","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":2420,"wires":[[]]},{"id":"2865ac5b.447644","type":"switch","z":"522d8f96.2aacb","name":"","property":"gameReady","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":1240,"wires":[["5797e6dc.c2a128","e242243b.d2df18","ea985e9.48658a","cab3f988.397fd8","b4db1729.0330c8"],["7f34b575.d71b7c"]]},{"id":"7f34b575.d71b7c","type":"ui_toast","z":"522d8f96.2aacb","position":"top right","displayTime":"2","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"[Door Open] Can't Start Game","name":"","x":100,"y":1280,"wires":[]},{"id":"b32947c9.3dc158","type":"switch","z":"522d8f96.2aacb","name":"","property":"gameReady","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":880,"wires":[["c3691e5a.0bf6c"],["ac2006c0.cf04a8"]]},{"id":"ac2006c0.cf04a8","type":"ui_toast","z":"522d8f96.2aacb","position":"top right","displayTime":"2","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"[Door Open] Can't Start Game","name":"","x":150,"y":940,"wires":[]},{"id":"43aec0ba.0b6d7","type":"switch","z":"522d8f96.2aacb","name":"","property":"gameState","propertyType":"global","rules":[{"t":"eq","v":"playing","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":1000,"wires":[["224df2b3.70d94e","a4072edb.305e5"]]},{"id":"c3691e5a.0bf6c","type":"switch","z":"522d8f96.2aacb","name":"","property":"gameState","propertyType":"global","rules":[{"t":"eq","v":"stopped","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":820,"wires":[["6dfa384.8d51ec8","4bfb5699.05da18"]]},{"id":"baabb075.1db1d","type":"switch","z":"522d8f96.2aacb","name":"","property":"gameState","propertyType":"global","rules":[{"t":"eq","v":"playing","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":1960,"wires":[["acd7e2ba.74caf","be801ade.00e108","83b96fdb.e64f","79107eb9.6e8ee"]]},{"id":"c9641d61.83bae","type":"switch","z":"522d8f96.2aacb","name":"","property":"gameStarted","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":1180,"wires":[["791088b8.2903e8"],["67668629.eabf48"]]},{"id":"67668629.eabf48","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"gameStarted","pt":"global","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1180,"wires":[["2865ac5b.447644"]]},{"id":"45a715d8.060bec","type":"ui_toast","z":"522d8f96.2aacb","position":"top right","displayTime":"2","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"[GAME ALREADY STARTED] ","name":"","x":450,"y":1320,"wires":[]},{"id":"791088b8.2903e8","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"please use resume instead","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1260,"wires":[["45a715d8.060bec"]]},{"id":"570548d8.0e9298","type":"inject","z":"522d8f96.2aacb","name":"","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":2580,"wires":[["f82d452e.a3dba8"]]},{"id":"435a055.3cb8afc","type":"inject","z":"522d8f96.2aacb","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":2720,"wires":[["f82d452e.a3dba8"]]},{"id":"fe910f5b.450b7","type":"comment","z":"522d8f96.2aacb","name":"Door Open","info":"","x":100,"y":2680,"wires":[]},{"id":"d2e49250.ad9bd","type":"comment","z":"522d8f96.2aacb","name":"Door Closed","info":"","x":110,"y":2620,"wires":[]},{"id":"5f7d653.fec2c9c","type":"delay","z":"522d8f96.2aacb","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":2160,"wires":[["e3cdcf36.f4bd5"]]},{"id":"a82feafe.d15af8","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":2280,"wires":[["4e3795c8.91c7bc"]]},{"id":"4e3795c8.91c7bc","type":"mqtt out","z":"522d8f96.2aacb","name":"","topic":"controlIn","qos":"","retain":"","broker":"c4ca3db5.52347","x":900,"y":2280,"wires":[]},{"id":"68dcd.3cfd4233c","type":"comment","z":"522d8f96.2aacb","name":"Control Panel EMLight","info":"","x":940,"y":2340,"wires":[]},{"id":"325ddf13.a7175","type":"delay","z":"522d8f96.2aacb","name":"","pauseType":"delay","timeout":"5.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":2280,"wires":[["a82feafe.d15af8"]]},{"id":"d2f29e92.a7e1a","type":"delay","z":"522d8f96.2aacb","name":"","pauseType":"delay","timeout":"1.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":610,"y":2060,"wires":[["5f7d653.fec2c9c","ccaa46af.f56bd8","325ddf13.a7175"]]},{"id":"9337eb56.273438","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":1180,"wires":[["e1a61a48.65e8d8"]]},{"id":"e1a61a48.65e8d8","type":"mqtt out","z":"522d8f96.2aacb","name":"","topic":"controlIn","qos":"","retain":"","broker":"c4ca3db5.52347","x":1280,"y":1180,"wires":[]},{"id":"991317b6.f88a48","type":"switch","z":"522d8f96.2aacb","name":"","property":"gameState","propertyType":"global","rules":[{"t":"eq","v":"playing","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":1900,"wires":[["afc5faa7.ca23f8"]]},{"id":"3caf7026.bfe38","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"7","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":1260,"wires":[["4d816b3f.b93664"]]},{"id":"4d816b3f.b93664","type":"mqtt out","z":"522d8f96.2aacb","name":"","topic":"roomrelay","qos":"","retain":"","broker":"c4ca3db5.52347","x":1280,"y":1260,"wires":[]},{"id":"cab3f988.397fd8","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":1460,"wires":[["c26de1ac.dba8c"]]},{"id":"c26de1ac.dba8c","type":"mqtt out","z":"522d8f96.2aacb","name":"","topic":"roomrelay","qos":"","retain":"","broker":"c4ca3db5.52347","x":360,"y":1580,"wires":[]},{"id":"ab02d6dc.22af78","type":"comment","z":"522d8f96.2aacb","name":"inject \"3\" for lights to turn off","info":"","x":1260,"y":2280,"wires":[]},{"id":"caf4a2e0.b788","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"9","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1660,"wires":[["c26de1ac.dba8c"]]},{"id":"59a2ef9d.d2b6b","type":"delay","z":"522d8f96.2aacb","name":"","pauseType":"delay","timeout":"0.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":110,"y":1740,"wires":[["caf4a2e0.b788"]]},{"id":"65adcafb.677364","type":"switch","z":"522d8f96.2aacb","name":"","property":"PuzzleSolved","propertyType":"global","rules":[{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":1820,"wires":[["991317b6.f88a48"]]},{"id":"29faef0f.a1f26","type":"switch","z":"522d8f96.2aacb","name":"","property":"PuzzleSolved","propertyType":"global","rules":[{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":2020,"wires":[["baabb075.1db1d"]]},{"id":"9091d875.958568","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"PuzzleSolved","pt":"global","to":"true","tot":"str"},{"t":"set","p":"gameState","pt":"global","to":"stopped","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":1800,"wires":[[]]},{"id":"2e45053b.47aa5a","type":"delay","z":"522d8f96.2aacb","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":1680,"wires":[["1a4764de.e0311b","4f0ba5e8.5fd2fc"]]},{"id":"1a4764de.e0311b","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1680,"wires":[["b67203c5.2e727"]]},{"id":"2c3cce91.083b32","type":"comment","z":"522d8f96.2aacb","name":"Turn On relay to turn off solenoid","info":"","x":1130,"y":1720,"wires":[]},{"id":"e93bedd.698a71","type":"ui_button","z":"522d8f96.2aacb","name":"","group":"f82eac9a.cfb84","order":2,"width":0,"height":0,"passthru":false,"label":"Force Door Closed","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"str","topic":"","x":320,"y":2760,"wires":[["f82d452e.a3dba8"]]},{"id":"4f0ba5e8.5fd2fc","type":"link out","z":"522d8f96.2aacb","name":"GameStarted","links":["29e886b6.c3d51a","ec0687a2.80b068","aaf88c1a.45ff7"],"x":955,"y":1740,"wires":[]},{"id":"af66c994.e892c8","type":"link out","z":"522d8f96.2aacb","name":"RelayPrep","links":["c33b129f.68df8"],"x":1055,"y":1320,"wires":[]},{"id":"c33b129f.68df8","type":"link in","z":"522d8f96.2aacb","name":"","links":["af66c994.e892c8"],"x":495,"y":2840,"wires":[["a0e06b6c.9f0db8","f37273dc.14fd1","77434a51.76acc4","be46867d.55be48"]]},{"id":"a0e06b6c.9f0db8","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":2840,"wires":[["ac47ee22.42e6a"]]},{"id":"ac47ee22.42e6a","type":"mqtt out","z":"522d8f96.2aacb","name":"","topic":"fogrelay","qos":"","retain":"","broker":"c4ca3db5.52347","x":820,"y":2840,"wires":[]},{"id":"f37273dc.14fd1","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":2900,"wires":[["80c59077.e004a"]]},{"id":"77434a51.76acc4","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"7","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":2960,"wires":[["4d43068d.454678"]]},{"id":"80c59077.e004a","type":"mqtt out","z":"522d8f96.2aacb","name":"","topic":"fogrelay","qos":"","retain":"","broker":"c4ca3db5.52347","x":820,"y":2900,"wires":[]},{"id":"4d43068d.454678","type":"mqtt out","z":"522d8f96.2aacb","name":"","topic":"fogrelay","qos":"","retain":"","broker":"c4ca3db5.52347","x":820,"y":2960,"wires":[]},{"id":"be46867d.55be48","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"9","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":3020,"wires":[["6606c078.3707d"]]},{"id":"6606c078.3707d","type":"mqtt out","z":"522d8f96.2aacb","name":"","topic":"fogrelay","qos":"","retain":"","broker":"c4ca3db5.52347","x":820,"y":3020,"wires":[]},{"id":"95ccc6db.a0ead8","type":"inject","z":"522d8f96.2aacb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":780,"y":1360,"wires":[["ad813c9f.9fd4a"]]},{"id":"b668d03b.5e1e4","type":"inject","z":"522d8f96.2aacb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":720,"y":1540,"wires":[["ae105aa8.0dda18"]]},{"id":"66ca14ce.80e67c","type":"comment","z":"522d8f96.2aacb","name":"Fog relay 1 = fog machine","info":"","x":230,"y":3240,"wires":[]},{"id":"5d3e2cb0.ebb1f4","type":"comment","z":"522d8f96.2aacb","name":"Fog relay 2 = power fluctuation sound effect","info":"","x":290,"y":3280,"wires":[]},{"id":"da4f0418.289c48","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":2280,"wires":[["868a4316.62fea","31ea2efe.28dba2"]]},{"id":"f3ec3265.21288","type":"comment","z":"522d8f96.2aacb","name":"inject 6 to play end sounds","info":"","x":150,"y":2320,"wires":[]},{"id":"868a4316.62fea","type":"mqtt out","z":"522d8f96.2aacb","name":"","topic":"fogrelay","qos":"","retain":"","broker":"c4ca3db5.52347","x":320,"y":2280,"wires":[]},{"id":"31ea2efe.28dba2","type":"delay","z":"522d8f96.2aacb","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":2360,"wires":[["b4ae21e.0b9bee"]]},{"id":"b4ae21e.0b9bee","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":2360,"wires":[["77fa4211.3f2c6c"]]},{"id":"77fa4211.3f2c6c","type":"mqtt out","z":"522d8f96.2aacb","name":"","topic":"fogrelay","qos":"","retain":"","broker":"c4ca3db5.52347","x":680,"y":2340,"wires":[]},{"id":"416a5a59.f12074","type":"comment","z":"522d8f96.2aacb","name":"Fog relay 3 = game end sound effect","info":"","x":260,"y":3320,"wires":[]},{"id":"66afc648.bd1c68","type":"comment","z":"522d8f96.2aacb","name":"Fog relay 4 = game start sound effect","info":"","x":270,"y":3360,"wires":[]},{"id":"b4db1729.0330c8","type":"link out","z":"522d8f96.2aacb","name":"Game Startup Sequence","links":["4190404e.fb023","1e4e86fe.2c5cd9","9eb6e29c.5abcf"],"x":815,"y":1260,"wires":[]},{"id":"4190404e.fb023","type":"link in","z":"522d8f96.2aacb","name":"","links":["b4db1729.0330c8"],"x":75,"y":2960,"wires":[["6dab4c68.2b1e24"]]},{"id":"6dab4c68.2b1e24","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":2980,"wires":[["3d600ca6.01edc4","b8a27e0.080288"]]},{"id":"3d600ca6.01edc4","type":"mqtt out","z":"522d8f96.2aacb","name":"","topic":"fogrelay","qos":"","retain":"","broker":"c4ca3db5.52347","x":420,"y":2980,"wires":[]},{"id":"b8a27e0.080288","type":"delay","z":"522d8f96.2aacb","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":160,"y":3060,"wires":[["2c4a809b.20573"]]},{"id":"2c4a809b.20573","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"7","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":3120,"wires":[["d880fa1f.bd6ea8"]]},{"id":"d880fa1f.bd6ea8","type":"mqtt out","z":"522d8f96.2aacb","name":"","topic":"fogrelay","qos":"","retain":"","broker":"c4ca3db5.52347","x":380,"y":3120,"wires":[]},{"id":"56adc38d.33370c","type":"comment","z":"522d8f96.2aacb","name":"Fog relay 5 = game ambience sound effect","info":"","x":280,"y":3400,"wires":[]},{"id":"1c738ad.1709f75","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":640,"wires":[["80cc403f.fadf2","d4ebc0ab.ed057"]]},{"id":"80cc403f.fadf2","type":"mqtt out","z":"522d8f96.2aacb","name":"","topic":"fogrelay","qos":"","retain":"","broker":"c4ca3db5.52347","x":400,"y":640,"wires":[]},{"id":"d4ebc0ab.ed057","type":"delay","z":"522d8f96.2aacb","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":140,"y":720,"wires":[["db99531f.a25a"]]},{"id":"db99531f.a25a","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"9","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":780,"wires":[["d916f1ac.efb43"]]},{"id":"d916f1ac.efb43","type":"mqtt out","z":"522d8f96.2aacb","name":"","topic":"fogrelay","qos":"","retain":"","broker":"c4ca3db5.52347","x":360,"y":780,"wires":[]},{"id":"cb1030cf.8c1cf","type":"switch","z":"522d8f96.2aacb","name":"","property":"gameState","propertyType":"global","rules":[{"t":"eq","v":"playing","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":1380,"wires":[["ad813c9f.9fd4a"]]},{"id":"9a1adee4.95a54","type":"link in","z":"522d8f96.2aacb","name":"","links":["41c8878.c094e78"],"x":695,"y":3120,"wires":[["c37987dc.f53e68"]]},{"id":"c37987dc.f53e68","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":3140,"wires":[["3308d0d5.a442","ad4a04ba.c90cf8"]]},{"id":"3308d0d5.a442","type":"mqtt out","z":"522d8f96.2aacb","name":"","topic":"fogrelay","qos":"","retain":"","broker":"c4ca3db5.52347","x":1040,"y":3140,"wires":[]},{"id":"ad4a04ba.c90cf8","type":"delay","z":"522d8f96.2aacb","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":3220,"wires":[["85cb4c37.8de35"]]},{"id":"85cb4c37.8de35","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":3280,"wires":[["6077b292.8d653c"]]},{"id":"6077b292.8d653c","type":"mqtt out","z":"522d8f96.2aacb","name":"","topic":"fogrelay","qos":"","retain":"","broker":"c4ca3db5.52347","x":1000,"y":3280,"wires":[]},{"id":"41c8878.c094e78","type":"link out","z":"522d8f96.2aacb","name":"PowerResetSolved","links":["9a1adee4.95a54"],"x":1140,"y":1900,"wires":[]},{"id":"aaf88c1a.45ff7","type":"link in","z":"522d8f96.2aacb","name":"","links":["4f0ba5e8.5fd2fc"],"x":555,"y":3400,"wires":[[]]},{"id":"e4adc260.a240b","type":"delay","z":"522d8f96.2aacb","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":3400,"wires":[["68f58fb0.4c916","921f2f05.87de8"]]},{"id":"7f84cddd.469814","type":"trigger","z":"522d8f96.2aacb","op1":"","op2":" ","op1type":"pay","op2type":"str","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":1050,"y":3560,"wires":[["6c7696a1.41d768"]]},{"id":"6c7696a1.41d768","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"clueText","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1310,"y":3560,"wires":[["219de7b3.581b28"]]},{"id":"41de859c.cb660c","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"consume","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":3560,"wires":[["7f84cddd.469814"]]},{"id":"68f58fb0.4c916","type":"delay","z":"522d8f96.2aacb","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":3660,"wires":[["4645f2e2.83a55c","995dfe84.b2f23"]]},{"id":"921f2f05.87de8","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":3400,"wires":[["252d5c9e.fa03e4","41de859c.cb660c"]]},{"id":"252d5c9e.fa03e4","type":"mqtt out","z":"522d8f96.2aacb","name":"","topic":"roomrelay","qos":"","retain":"","broker":"c4ca3db5.52347","x":1120,"y":3400,"wires":[]},{"id":"4645f2e2.83a55c","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":3660,"wires":[["97f7c3c1.3948c"]]},{"id":"97f7c3c1.3948c","type":"mqtt out","z":"522d8f96.2aacb","name":"","topic":"roomrelay","qos":"","retain":"","broker":"c4ca3db5.52347","x":1120,"y":3660,"wires":[]},{"id":"995dfe84.b2f23","type":"delay","z":"522d8f96.2aacb","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":3960,"wires":[["a052f33a.56897","bc15d45f.e971b8"]]},{"id":"8dc6959a.f50d38","type":"trigger","z":"522d8f96.2aacb","op1":"","op2":" ","op1type":"pay","op2type":"str","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":990,"y":4120,"wires":[["f3c2e38.3f6252"]]},{"id":"f3c2e38.3f6252","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"clueText","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":4120,"wires":[["219de7b3.581b28"]]},{"id":"3395ad63.ab19b2","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"behind you","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":4120,"wires":[["8dc6959a.f50d38"]]},{"id":"a052f33a.56897","type":"delay","z":"522d8f96.2aacb","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":4220,"wires":[["3234cf8e.d1571"]]},{"id":"bc15d45f.e971b8","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":3960,"wires":[["4920a4ab.85fadc","3395ad63.ab19b2"]]},{"id":"4920a4ab.85fadc","type":"mqtt out","z":"522d8f96.2aacb","name":"","topic":"roomrelay","qos":"","retain":"","broker":"c4ca3db5.52347","x":1060,"y":3960,"wires":[]},{"id":"3234cf8e.d1571","type":"change","z":"522d8f96.2aacb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":4220,"wires":[["864baffb.39a7"]]},{"id":"864baffb.39a7","type":"mqtt out","z":"522d8f96.2aacb","name":"","topic":"roomrelay","qos":"","retain":"","broker":"c4ca3db5.52347","x":1060,"y":4220,"wires":[]},{"id":"7724853b.44d39c","type":"ui_group","z":"","name":"RCFLASH","tab":"64f09434.db953c","order":2,"disp":true,"width":"6","collapse":false},{"id":"22b977e3.a65528","type":"ui_group","z":"","name":"Hint System","tab":"af38a1b7.79d55","disp":true,"width":"6","collapse":true},{"id":"1b161435.bb4dac","type":"ui_group","z":"","name":"Game State","tab":"af38a1b7.79d55","disp":true,"width":"6","collapse":false},{"id":"c4ca3db5.52347","type":"mqtt-broker","z":"","name":"","broker":"192.168.86.27","port":"1883","clientid":"Node-Red","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f82eac9a.cfb84","type":"ui_group","z":"","name":"Rare Triggers","tab":"af38a1b7.79d55","disp":true,"width":"6","collapse":true},{"id":"f658311c.aced9","type":"ui_group","z":"","name":"Puzzles","tab":"af38a1b7.79d55","disp":true,"width":"6","collapse":true},{"id":"64f09434.db953c","type":"ui_tab","z":"","name":"Haunt Control Panel","icon":"dashboard","disabled":false,"hidden":false},{"id":"af38a1b7.79d55","type":"ui_tab","z":"","name":"Escape Room Control Panel","icon":"dashboard","disabled":false,"hidden":false}]